In [42]:
import pandas as pd
import numpy as np
train_data = pd.read_csv('data/citibike-tripdata.csv')
train_df = train_data.copy()
display(train_df.head())

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [ ]:
display(train_df.info())

In [ ]:
display(train_df.describe(include='object'))

In [ ]:
display(train_df['usertype'].value_counts(normalize=True))
display(train_df['start station name'].value_counts(normalize=True))

In [ ]:
train_df_1 = train_df[(train_df["gender"] == 1)]
train_df_2 = train_df[train_df["gender"] == 2]
display(train_df_1.shape[0])
display(train_df_2.shape[0])
display(train_df['gender'].mode())

In [ ]:
drop_id = ["start station id", "end station id"]
train_df_drop2 = train_df.drop(drop_id, axis = 1)
display(train_df_drop2)

In [ ]:
train_df['Age'] = 2018 - train_df['birth year']
train_df_drop2 = train_df.drop(['birth year'], axis = 1)
display(train_df_drop2[(train_df_drop2["Age"] > 60)].shape[0])
display(train_df_drop2.head())

In [ ]:
train_df_drop2['trip duration'] = train_df_drop2['trip duration'] - train_df_drop2['trip duration']